8.0
digikey*
SamacSys*
*.bak
*.bck
templates/eurorack/OLED12HP/
# greenface-symbols.*
*.pyc
AudioJacks*
greenface-symbols.bak
SparkFun-Switch.pretty
SparkFun-Switch-symbols

backit.bat
config.csv
changes.bat
checkin_comment.txt
