newlib
SamacSys*
*.bak
*.bck
digikey*
templates/eurorack/OLED12HP/
# greenface-symbols.*
*.pyc
# 3dmodels
AudioJacks*
greenface-symbols.bak
3d_Models/.gitattributes
SparkFun-Switch.pretty
BOM/backit.bat
BOM/changes.bat
BOM/checkin_comment.txt
BOM/config.csv

backit.bat
config.csv
changes.bat
checkin_comment.txt
