SamacSys*
*.bak
*.bck
#digikey*
templates/eurorack/OLED12HP/
# greenface-symbols.*
*.pyc
# 3dmodels
AudioJacks*
greenface-symbols.bak
3d_Models/.gitattributes
SparkFun-Switch.pretty

backit.bat
config.csv
changes.bat
checkin_comment.txt
